<a href="https://colab.research.google.com/github/DevinUGE1/Uriel/blob/main/ProjetoDevin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Preparando o ambiente SPark
#Instalando biblioteca pyspark
!pip install pyspark


#Importando Bibliotecas
from pyspark.sql import SparkSession

#Criando objeto spark:
spark = SparkSession.builder.appName("SENAI").getOrCreate()

from pyspark.sql import functions as f

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=ef4850b7b0c30eb2e8256b0c7f07cfa491da2f588ca5a774d9a65c92a320312d
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [4]:
#Importando data frame de um arquivo .csv:
url = "/content/drive/MyDrive/Devin/archive"

developers = spark.read.options(header=True).csv(
    url,
    inferSchema=True,
    sep=","
)

In [5]:
developers.show()

+---+--------------------+-----------------------------------------+-------------------------------------------+----------------------------------------+---------------------------------+-----------------+--------------------+------------------+--------+----------------------------+--------------------------+
|_c0|               Metro|Mean Software Developer Salary (adjusted)|Mean Software Developer Salary (unadjusted)|Mean Unadjusted Salary (all occupations)|Number of Software Developer Jobs|Median Home Price|                City|Cost of Living avg|Rent avg|Cost of Living Plus Rent avg|Local Purchasing Power avg|
+---+--------------------+-----------------------------------------+-------------------------------------------+----------------------------------------+---------------------------------+-----------------+--------------------+------------------+--------+----------------------------+--------------------------+
|  0|        Columbus, OH|                                 117552.0|                                   108500.0|                                 51260.0|                          13430.0|         192000.0|        Columbus, OH|             984.8|  1421.5|                      2856.5|                    9335.4|
|  1|Seattle-Tacoma-Be...|                                 117323.0|                                   131167.0|                                 65400.0|                          65760.0|         491600.0|         Seattle, WA|            1250.7|  2528.2|                      4091.5|                    8971.3|
|  2|Charlotte-Concord...|                                 114122.0|                                   107046.0|                                 51000.0|                          12800.0|         208500.0|       Charlotte, NC|             989.9|  1974.5|                      3221.1|                    8939.8|
|  3|Colorado Springs, CO|                                 112118.0|                                   111670.0|                                 51430.0|                           5780.0|         296500.0|Colorado Springs, CO|            1049.2|  1594.0|                      3094.5|                    8493.1|
|  4|          Dayton, OH|                                 111616.0|                                    99338.0|                                 50100.0|                           4240.0|         124100.0|          Dayton, OH|             961.2|  1072.1|                      2586.0|                    4887.7|
|  5|Greensboro-High P...|                                 111050.0|                                    99612.0|                                 44570.0|                           1560.0|         136000.0|      Greensboro, NC|             992.9|  1445.4|                      2888.0|                    5721.9|
|  6|San Francisco-Oak...|                                 111017.0|                                   142101.0|                                 72400.0|                          59550.0|         946700.0|   San Francisco, CA|            1326.9|  4163.3|                      5290.7|                    8216.7|
|  7|San Francisco-Oak...|                                 111017.0|                                   142101.0|                                 72400.0|                          59550.0|         946700.0|         Oakland, CA|            1313.0|  3371.1|                      4754.9|                    6894.3|
|  8|San Antonio-New B...|                                 110898.0|                                   104688.0|                                 46650.0|                           5410.0|         194100.0|     San Antonio, TX|             884.3|  1469.5|                      2688.9|                    8494.9|
|  9|Dallas-Fort Worth...|                                 110891.0|                                   111113.0|                                 52590.0|                          46130.0|         243900.0|      Fort Worth, TX|             995.0|  1551.7|                      2960.0|                    6949.2|
| 10|Dallas-Fort Worth...|                                 110891.0|                                   111113.0|                                 52590.0|                          46130.0|         243900.0|          Dallas, TX|             958.7|  1926.5|                      3128.6|                   10530.6|
| 11|Durham-Chapel Hil...|                                 110313.0|                                   105018.0|                                 59940.0|                           6800.0|         243700.0|          Durham, NC|             994.3|  1616.2|                      2999.9|                    6464.2|
| 12|Atlanta-Sandy Spr...|                                 109849.0|                                   106334.0|                                 52750.0|                          38110.0|         219600.0|         Atlanta, GA|            1082.3|  1865.4|                      3334.0|                    8063.0|
| 13|Cincinnati, OH-KY-IN|                                 109013.0|                                    98112.0|                                 50030.0|                           8620.0|         169900.0|      Cincinnati, OH|             909.8| 58597.6|                      2775.1|                    7723.6|
| 14|Austin-Round Rock...|                                 108990.0|                                   109535.0|                                 53810.0|                          21160.0|         311300.0|          Austin, TX|             939.6|  2214.9|                      3275.7|                    9762.4|
| 15|         Raleigh, NC|                                 107676.0|                                   103584.0|                                 52580.0|                          12560.0|         267200.0|         Raleigh, NC|             963.6|  1589.4|                      2922.2|                    8892.9|
| 16|Houston-The Woodl...|                                 107672.0|                                   109503.0|                                 54290.0|                          20400.0|         205600.0|         Houston, TX|             903.4|  1665.8|                      2852.3|                   10673.7|
| 17|Baltimore-Columbi...|                                 107282.0|                                   115006.0|                                 57740.0|                          16200.0|         267800.0|       Baltimore, MD|            1039.3|  1600.5|                      3078.7|                    8399.9|
| 18|Las Vegas-Henders...|                                 107175.0|                                   104495.0|                                 45600.0|                           3900.0|         279900.0|       Las Vegas, NV|             965.6|  1467.2|                      2848.1|                    7702.6|
| 19|          Tucson, AZ|                                 107170.0|                                   101919.0|                                 47610.0|                           4480.0|         206200.0|          Tucson, AZ|             909.1|  1062.1|                    130097.8|                    5164.1|
+---+--------------------+-----------------------------------------+-------------------------------------------+----------------------------------------+---------------------------------+-----------------+--------------------+------------------+--------+----------------------------+--------------------------+
only showing top 20 rows

In [6]:
developers.withColumnsRenamed({"Mean Software Developer Salary (adjusted)" : "MeanSDSal_Adjus",
                              "Mean Software Developer Salary (unadjusted)": "MeanSDSal_Unajust",
                               "Mean Unadjusted Salary (all occupations)" : "Mean_Ununadj_Sal_all_occup",
                               "Number of Software Developer Jobs" : "Num_of_Sof_Dev_Jobs",
                               "Cost of Living Plus Rent avg" : "Cost_of_Liv_PlusRent_avr",
                               "Median Home Price" : "Median_Home_Price",
                              "Cost of Living avg": "Cost_of_Living_avg",
                               "Rent avg" : "Rent_avg",
                               "Cost of Living Plus Rent avg": "Cost_of_LivPlus_Rent_avg",
                               "Local Purchasing Power avg" : "Local_Purch_Pow_avg"
                              }).show()

+---+--------------------+---------------+-----------------+--------------------------+-------------------+-----------------+--------------------+------------------+--------+------------------------+-------------------+
|_c0|               Metro|MeanSDSal_Adjus|MeanSDSal_Unajust|Mean_Ununadj_Sal_all_occup|Num_of_Sof_Dev_Jobs|Median_Home_Price|                City|Cost_of_Living_avg|Rent_avg|Cost_of_LivPlus_Rent_avg|Local_Purch_Pow_avg|
+---+--------------------+---------------+-----------------+--------------------------+-------------------+-----------------+--------------------+------------------+--------+------------------------+-------------------+
|  0|        Columbus, OH|       117552.0|         108500.0|                   51260.0|            13430.0|         192000.0|        Columbus, OH|             984.8|  1421.5|                  2856.5|             9335.4|
|  1|Seattle-Tacoma-Be...|       117323.0|         131167.0|                   65400.0|            65760.0|         491600.0|         Seattle, WA|            1250.7|  2528.2|                  4091.5|             8971.3|
|  2|Charlotte-Concord...|       114122.0|         107046.0|                   51000.0|            12800.0|         208500.0|       Charlotte, NC|             989.9|  1974.5|                  3221.1|             8939.8|
|  3|Colorado Springs, CO|       112118.0|         111670.0|                   51430.0|             5780.0|         296500.0|Colorado Springs, CO|            1049.2|  1594.0|                  3094.5|             8493.1|
|  4|          Dayton, OH|       111616.0|          99338.0|                   50100.0|             4240.0|         124100.0|          Dayton, OH|             961.2|  1072.1|                  2586.0|             4887.7|
|  5|Greensboro-High P...|       111050.0|          99612.0|                   44570.0|             1560.0|         136000.0|      Greensboro, NC|             992.9|  1445.4|                  2888.0|             5721.9|
|  6|San Francisco-Oak...|       111017.0|         142101.0|                   72400.0|            59550.0|         946700.0|   San Francisco, CA|            1326.9|  4163.3|                  5290.7|             8216.7|
|  7|San Francisco-Oak...|       111017.0|         142101.0|                   72400.0|            59550.0|         946700.0|         Oakland, CA|            1313.0|  3371.1|                  4754.9|             6894.3|
|  8|San Antonio-New B...|       110898.0|         104688.0|                   46650.0|             5410.0|         194100.0|     San Antonio, TX|             884.3|  1469.5|                  2688.9|             8494.9|
|  9|Dallas-Fort Worth...|       110891.0|         111113.0|                   52590.0|            46130.0|         243900.0|      Fort Worth, TX|             995.0|  1551.7|                  2960.0|             6949.2|
| 10|Dallas-Fort Worth...|       110891.0|         111113.0|                   52590.0|            46130.0|         243900.0|          Dallas, TX|             958.7|  1926.5|                  3128.6|            10530.6|
| 11|Durham-Chapel Hil...|       110313.0|         105018.0|                   59940.0|             6800.0|         243700.0|          Durham, NC|             994.3|  1616.2|                  2999.9|             6464.2|
| 12|Atlanta-Sandy Spr...|       109849.0|         106334.0|                   52750.0|            38110.0|         219600.0|         Atlanta, GA|            1082.3|  1865.4|                  3334.0|             8063.0|
| 13|Cincinnati, OH-KY-IN|       109013.0|          98112.0|                   50030.0|             8620.0|         169900.0|      Cincinnati, OH|             909.8| 58597.6|                  2775.1|             7723.6|
| 14|Austin-Round Rock...|       108990.0|         109535.0|                   53810.0|            21160.0|         311300.0|          Austin, TX|             939.6|  2214.9|                  3275.7|             9762.4|
| 15|         Raleigh, NC|       107676.0|         103584.0|                   52580.0|            12560.0|         267200.0|         Raleigh, NC|             963.6|  1589.4|                  2922.2|             8892.9|
| 16|Houston-The Woodl...|       107672.0|         109503.0|                   54290.0|            20400.0|         205600.0|         Houston, TX|             903.4|  1665.8|                  2852.3|            10673.7|
| 17|Baltimore-Columbi...|       107282.0|         115006.0|                   57740.0|            16200.0|         267800.0|       Baltimore, MD|            1039.3|  1600.5|                  3078.7|             8399.9|
| 18|Las Vegas-Henders...|       107175.0|         104495.0|                   45600.0|             3900.0|         279900.0|       Las Vegas, NV|             965.6|  1467.2|                  2848.1|             7702.6|
| 19|          Tucson, AZ|       107170.0|         101919.0|                   47610.0|             4480.0|         206200.0|          Tucson, AZ|             909.1|  1062.1|                130097.8|             5164.1|
+---+--------------------+---------------+-----------------+--------------------------+-------------------+-----------------+--------------------+------------------+--------+------------------------+-------------------+
only showing top 20 rows

In [7]:
developers = developers.withColumnsRenamed({"Mean Software Developer Salary (adjusted)" : "MeanSDSal_Adjus",
                              "Mean Software Developer Salary (unadjusted)": "MeanSDSal_Unajust",
                               "Mean Unadjusted Salary (all occupations)" : "Mean_Ununadj_Sal_all_occup",
                               "Number of Software Developer Jobs" : "Num_of_Sof_Dev_Jobs",
                               "Cost of Living Plus Rent avg" : "Cost_of_Liv_PlusRent_avr",
                               "Median Home Price" : "Median_Home_Price",
                              "Cost of Living avg": "Cost_of_Living_avg",
                               "Rent avg" : "Rent_avg",
                               "Cost of Living Plus Rent avg": "Cost_of_LivPlus_Rent_avg",
                               "Local Purchasing Power avg" : "Local_Purch_Pow_avg"
                              })

In [8]:
developers.toPandas()

,_c0,Metro,MeanSDSal_Adjus,MeanSDSal_Unajust,Mean_Ununadj_Sal_all_occup,Num_of_Sof_Dev_Jobs,Median_Home_Price,City,Cost_of_Living_avg,Rent_avg,Cost_of_LivPlus_Rent_avg,Local_Purch_Pow_avg
0,0,"Columbus, OH",117552.0,108500.0,51260.0,13430.0,192000.0,"Columbus, OH",984.8,1421.5,2856.5,9335.4
1,1,"Seattle-Tacoma-Bellevue, WA",117323.0,131167.0,65400.0,65760.0,491600.0,"Seattle, WA",1250.7,2528.2,4091.5,8971.3
2,2,"Charlotte-Concord-Gastonia, NC-SC",114122.0,107046.0,51000.0,12800.0,208500.0,"Charlotte, NC",989.9,1974.5,3221.1,8939.8
3,3,"Colorado Springs, CO",112118.0,111670.0,51430.0,5780.0,296500.0,"Colorado Springs, CO",1049.2,1594.0,3094.5,8493.1
4,4,"Dayton, OH",111616.0,99338.0,50100.0,4240.0,124100.0,"Dayton, OH",961.2,1072.1,2586.0,4887.7
...,...,...,...,...,...,...,...,...,...,...,...,...
72,72,"Cleveland-Elyria, OH",89040.0,80314.0,50470.0,8220.0,146500.0,"Cleveland, OH",1065.5,1355.1,2973.1,7732.9
73,73,"Miami-Fort Lauderdale-West Palm Beach, FL",88249.0,95662.0,48240.0,13740.0,283400.0,"Miami, FL",1102.1,2494.4,3775.8,5782.4
74,74,"Miami-Fort Lauderdale-West Palm Beach, FL",88249.0,95662.0,48240.0,13740.0,283400.0,"Fort Lauderdale, FL",1086.0,2171.9,3537.8,6252.0
75,75,"Eugene, OR",85912.0,84021.0,47320.0,1220.0,293900.0,"Eugene, OR",984.0,1448.0,2871.7,5443.0
76,76,"Urban Honolulu, HI",72811.0,90796.0,54870.0,1590.0,678200.0,"Honolulu, HI",1464.5,2498.7,4494.4,5506.6

In [9]:
developers.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- Metro: string (nullable = true)
 |-- MeanSDSal_Adjus: double (nullable = true)
 |-- MeanSDSal_Unajust: double (nullable = true)
 |-- Mean_Ununadj_Sal_all_occup: double (nullable = true)
 |-- Num_of_Sof_Dev_Jobs: double (nullable = true)
 |-- Median_Home_Price: double (nullable = true)
 |-- City: string (nullable = true)
 |-- Cost_of_Living_avg: double (nullable = true)
 |-- Rent_avg: double (nullable = true)
 |-- Cost_of_LivPlus_Rent_avg: double (nullable = true)
 |-- Local_Purch_Pow_avg: double (nullable = true)

In [10]:
developers.withColumn("MeanSDSal_Adjus", developers.MeanSDSal_Adjus.cast("float"))\
                      .withColumn("MeanSDSal_Unajust", developers.MeanSDSal_Unajust.cast("float"))\
                      .withColumn("Mean_Ununadj_Sal_all_occup", developers.Mean_Ununadj_Sal_all_occup.cast("float"))\
                      .withColumn("Num_of_Sof_Dev_Jobs", developers.Num_of_Sof_Dev_Jobs.cast("float"))\
                      .withColumn("Median_Home_Price", developers.Median_Home_Price.cast("float"))\
                      .withColumn("Cost_of_Living_avg", developers.Cost_of_Living_avg.cast("float"))\
                      .withColumn("Rent_avg", developers.Rent_avg.cast("float"))\
                      .withColumn("Cost_of_LivPlus_Rent_avg", developers.Cost_of_LivPlus_Rent_avg.cast("float"))\
                      .withColumn("Local_Purch_Pow_avg", developers.Local_Purch_Pow_avg.cast("float")).show()

+---+--------------------+---------------+-----------------+--------------------------+-------------------+-----------------+--------------------+------------------+--------+------------------------+-------------------+
|_c0|               Metro|MeanSDSal_Adjus|MeanSDSal_Unajust|Mean_Ununadj_Sal_all_occup|Num_of_Sof_Dev_Jobs|Median_Home_Price|                City|Cost_of_Living_avg|Rent_avg|Cost_of_LivPlus_Rent_avg|Local_Purch_Pow_avg|
+---+--------------------+---------------+-----------------+--------------------------+-------------------+-----------------+--------------------+------------------+--------+------------------------+-------------------+
|  0|        Columbus, OH|       117552.0|         108500.0|                   51260.0|            13430.0|         192000.0|        Columbus, OH|             984.8|  1421.5|                  2856.5|             9335.4|
|  1|Seattle-Tacoma-Be...|       117323.0|         131167.0|                   65400.0|            65760.0|         491600.0|         Seattle, WA|            1250.7|  2528.2|                  4091.5|             8971.3|
|  2|Charlotte-Concord...|       114122.0|         107046.0|                   51000.0|            12800.0|         208500.0|       Charlotte, NC|             989.9|  1974.5|                  3221.1|             8939.8|
|  3|Colorado Springs, CO|       112118.0|         111670.0|                   51430.0|             5780.0|         296500.0|Colorado Springs, CO|            1049.2|  1594.0|                  3094.5|             8493.1|
|  4|          Dayton, OH|       111616.0|          99338.0|                   50100.0|             4240.0|         124100.0|          Dayton, OH|             961.2|  1072.1|                  2586.0|             4887.7|
|  5|Greensboro-High P...|       111050.0|          99612.0|                   44570.0|             1560.0|         136000.0|      Greensboro, NC|             992.9|  1445.4|                  2888.0|             5721.9|
|  6|San Francisco-Oak...|       111017.0|         142101.0|                   72400.0|            59550.0|         946700.0|   San Francisco, CA|            1326.9|  4163.3|                  5290.7|             8216.7|
|  7|San Francisco-Oak...|       111017.0|         142101.0|                   72400.0|            59550.0|         946700.0|         Oakland, CA|            1313.0|  3371.1|                  4754.9|             6894.3|
|  8|San Antonio-New B...|       110898.0|         104688.0|                   46650.0|             5410.0|         194100.0|     San Antonio, TX|             884.3|  1469.5|                  2688.9|             8494.9|
|  9|Dallas-Fort Worth...|       110891.0|         111113.0|                   52590.0|            46130.0|         243900.0|      Fort Worth, TX|             995.0|  1551.7|                  2960.0|             6949.2|
| 10|Dallas-Fort Worth...|       110891.0|         111113.0|                   52590.0|            46130.0|         243900.0|          Dallas, TX|             958.7|  1926.5|                  3128.6|            10530.6|
| 11|Durham-Chapel Hil...|       110313.0|         105018.0|                   59940.0|             6800.0|         243700.0|          Durham, NC|             994.3|  1616.2|                  2999.9|             6464.2|
| 12|Atlanta-Sandy Spr...|       109849.0|         106334.0|                   52750.0|            38110.0|         219600.0|         Atlanta, GA|            1082.3|  1865.4|                  3334.0|             8063.0|
| 13|Cincinnati, OH-KY-IN|       109013.0|          98112.0|                   50030.0|             8620.0|         169900.0|      Cincinnati, OH|             909.8| 58597.6|                  2775.1|             7723.6|
| 14|Austin-Round Rock...|       108990.0|         109535.0|                   53810.0|            21160.0|         311300.0|          Austin, TX|             939.6|  2214.9|                  3275.7|             9762.4|
| 15|         Raleigh, NC|       107676.0|         103584.0|                   52580.0|            12560.0|         267200.0|         Raleigh, NC|             963.6|  1589.4|                  2922.2|             8892.9|
| 16|Houston-The Woodl...|       107672.0|         109503.0|                   54290.0|            20400.0|         205600.0|         Houston, TX|             903.4|  1665.8|                  2852.3|            10673.7|
| 17|Baltimore-Columbi...|       107282.0|         115006.0|                   57740.0|            16200.0|         267800.0|       Baltimore, MD|            1039.3|  1600.5|                  3078.7|             8399.9|
| 18|Las Vegas-Henders...|       107175.0|         104495.0|                   45600.0|             3900.0|         279900.0|       Las Vegas, NV|             965.6|  1467.2|                  2848.1|             7702.6|
| 19|          Tucson, AZ|       107170.0|         101919.0|                   47610.0|             4480.0|         206200.0|          Tucson, AZ|             909.1|  1062.1|                130097.8|             5164.1|
+---+--------------------+---------------+-----------------+--------------------------+-------------------+-----------------+--------------------+------------------+--------+------------------------+-------------------+
only showing top 20 rows

In [11]:
developers = developers.withColumn("MeanSDSal_Adjus", developers.MeanSDSal_Adjus.cast("float"))\
                      .withColumn("MeanSDSal_Unajust", developers.MeanSDSal_Unajust.cast("float"))\
                      .withColumn("Mean_Ununadj_Sal_all_occup", developers.Mean_Ununadj_Sal_all_occup.cast("float"))\
                      .withColumn("Num_of_Sof_Dev_Jobs", developers.Num_of_Sof_Dev_Jobs.cast("float"))\
                      .withColumn("Median_Home_Price", developers.Median_Home_Price.cast("float"))\
                      .withColumn("Cost_of_Living_avg", developers.Cost_of_Living_avg.cast("float"))\
                      .withColumn("Rent_avg", developers.Rent_avg.cast("float"))\
                      .withColumn("Cost_of_LivPlus_Rent_avg", developers.Cost_of_LivPlus_Rent_avg.cast("float"))\
                      .withColumn("Local_Purch_Pow_avg", developers.Local_Purch_Pow_avg.cast("float"))

In [12]:
developers.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- Metro: string (nullable = true)
 |-- MeanSDSal_Adjus: float (nullable = true)
 |-- MeanSDSal_Unajust: float (nullable = true)
 |-- Mean_Ununadj_Sal_all_occup: float (nullable = true)
 |-- Num_of_Sof_Dev_Jobs: float (nullable = true)
 |-- Median_Home_Price: float (nullable = true)
 |-- City: string (nullable = true)
 |-- Cost_of_Living_avg: float (nullable = true)
 |-- Rent_avg: float (nullable = true)
 |-- Cost_of_LivPlus_Rent_avg: float (nullable = true)
 |-- Local_Purch_Pow_avg: float (nullable = true)

In [13]:
developers.createOrReplaceTempView("v_developers")

In [14]:
spark.sql(
"""
  select d.metro, sum(d.MeanSDSal_Adjus), avg(d.MeanSDSal_Unajust)
  from v_developers d
  GROUP BY metro,MeanSDSal_Adjus, MeanSDSal_Unajust
"""
).show()

+--------------------+--------------------+----------------------+
|               metro|sum(MeanSDSal_Adjus)|avg(MeanSDSal_Unajust)|
+--------------------+--------------------+----------------------+
|Philadelphia-Camd...|             99955.0|              105352.0|
|           Akron, OH|             92207.0|               83355.0|
|Baltimore-Columbi...|            107282.0|              115006.0|
|    Jacksonville, FL|             91568.0|               87355.0|
|Nashville-Davidso...|             98623.0|               93987.0|
|Albany-Schenectad...|             94051.0|               94615.0|
|Greensboro-High P...|            111050.0|               99612.0|
|Cincinnati, OH-KY-IN|            109013.0|               98112.0|
|Washington-Arling...|            101188.0|              119806.0|
|Austin-Round Rock...|            108990.0|              109535.0|
|Spokane-Spokane V...|             90269.0|               85575.0|
|Colorado Springs, CO|            112118.0|              111670.0|
|Milwaukee-Waukesh...|             96580.0|               92234.0|
|Orlando-Kissimmee...|            102093.0|              100358.0|
|San Diego-Carlsba...|             97974.0|              113650.0|
|Denver-Aurora-Lak...|            105197.0|              111824.0|
|Durham-Chapel Hil...|            110313.0|              105018.0|
|Indianapolis-Carm...|             96448.0|               88732.0|
|       Rochester, NY|             94819.0|               93112.0|
|Tampa-St. Petersb...|            101733.0|              100614.0|
+--------------------+--------------------+----------------------+
only showing top 20 rows

In [15]:
spark.sql(
"""
  select d.metro, sum(d.MeanSDSal_Adjus), avg(d.MeanSDSal_Unajust)
  from v_developers d
  GROUP BY metro, MeanSDSal_Adjus, MeanSDSal_Unajust
  order by d.metro
"""
).show()

+--------------------+--------------------+----------------------+
|               metro|sum(MeanSDSal_Adjus)|avg(MeanSDSal_Unajust)|
+--------------------+--------------------+----------------------+
|           Akron, OH|             92207.0|               83355.0|
|Albany-Schenectad...|             94051.0|               94615.0|
|     Albuquerque, NM|             91010.0|               87097.0|
|       Ann Arbor, MI|             92683.0|               94258.0|
|Atlanta-Sandy Spr...|            109849.0|              106334.0|
|Austin-Round Rock...|            108990.0|              109535.0|
|Baltimore-Columbi...|            107282.0|              115006.0|
|Birmingham-Hoover...|            101598.0|               90219.0|
|      Boise City, ID|             93112.0|               87712.0|
|Boston-Cambridge, MA|            102171.0|              114227.0|
|Buffalo-Cheektowa...|             93735.0|               88955.0|
|Charleston-North ...|             95609.0|               91976.0|
|Charlotte-Concord...|            114122.0|              107046.0|
|Chicago-Napervill...|             98726.0|              102082.0|
|Cincinnati, OH-KY-IN|            109013.0|               98112.0|
|Cleveland-Elyria, OH|             89040.0|               80314.0|
|Colorado Springs, CO|            112118.0|              111670.0|
|        Columbus, OH|            117552.0|              108500.0|
|Dallas-Fort Worth...|            221782.0|              111113.0|
|          Dayton, OH|            111616.0|               99338.0|
+--------------------+--------------------+----------------------+
only showing top 20 rows

In [16]:
spark.sql(
"""
  select d.metro, sum(d.MeanSDSal_Adjus), avg(d.MeanSDSal_Unajust)
  from v_developers d
  GROUP BY metro, MeanSDSal_Adjus, MeanSDSal_Unajust
  order by d.metro
"""
).toPandas()

,metro,sum(MeanSDSal_Adjus),avg(MeanSDSal_Unajust)
0,"Akron, OH",92207.0,83355.0
1,"Albany-Schenectady-Troy, NY",94051.0,94615.0
2,"Albuquerque, NM",91010.0,87097.0
3,"Ann Arbor, MI",92683.0,94258.0
4,"Atlanta-Sandy Springs-Roswell, GA",109849.0,106334.0
...,...,...,...
64,"Tucson, AZ",107170.0,101919.0
65,"Tulsa, OK",95187.0,86049.0
66,"Urban Honolulu, HI",72811.0,90796.0
67,"Washington-Arlington-Alexandria, DC-VA-MD-WV",101188.0,119806.0
68,"Wichita, KS",103690.0,92595.0

In [17]:
spark.sql(
"""
  select count(d.metro), sum(d.MeanSDSal_Adjus), avg(d.MeanSDSal_Unajust), max(d.Num_of_Sof_Dev_Jobs)
  from v_developers d
  GROUP BY metro, MeanSDSal_Adjus, MeanSDSal_Unajust
  order by d.metro
"""
).toPandas()

,count(metro),sum(MeanSDSal_Adjus),avg(MeanSDSal_Unajust),max(Num_of_Sof_Dev_Jobs)
0,1,92207.0,83355.0,2590.0
1,1,94051.0,94615.0,2980.0
2,1,91010.0,87097.0,1770.0
3,1,92683.0,94258.0,2650.0
4,1,109849.0,106334.0,38110.0
...,...,...,...,...
64,1,107170.0,101919.0,4480.0
65,1,95187.0,86049.0,1770.0
66,1,72811.0,90796.0,1590.0
67,1,101188.0,119806.0,63760.0
68,1,103690.0,92595.0,1220.0

In [18]:
spark.sql(
"""
  select count(d.metro), sum(d.MeanSDSal_Adjus), avg(d.MeanSDSal_Unajust), max(d.Num_of_Sof_Dev_Jobs)
  from v_developers d
  GROUP BY metro, MeanSDSal_Adjus, MeanSDSal_Unajust, d.Num_of_Sof_Dev_Jobs
  order by Num_of_Sof_Dev_Jobs
"""
).toPandas()

,count(metro),sum(MeanSDSal_Adjus),avg(MeanSDSal_Unajust),max(Num_of_Sof_Dev_Jobs)
0,1,90269.0,85575.0,1120.0
1,1,105248.0,95986.0,1140.0
2,1,95969.0,98176.0,1190.0
3,1,85912.0,84021.0,1220.0
4,1,103690.0,92595.0,1220.0
...,...,...,...,...
64,2,222034.0,142101.0,59550.0
65,1,101188.0,119806.0,63760.0
66,1,117323.0,131167.0,65760.0
67,2,209928.0,137397.0,78730.0
68,2,193372.0,118247.0,98650.0

In [19]:
spark.sql(
"""
  select d.metro, sum(d.MeanSDSal_Adjus), avg(d.MeanSDSal_Unajust), max(d.Num_of_Sof_Dev_Jobs)
  from v_developers d
  GROUP BY metro, MeanSDSal_Adjus, MeanSDSal_Unajust, d.Num_of_Sof_Dev_Jobs
  order by Num_of_Sof_Dev_Jobs desc
"""
).toPandas()

,metro,sum(MeanSDSal_Adjus),avg(MeanSDSal_Unajust),max(Num_of_Sof_Dev_Jobs)
0,"New York-Newark-Jersey City, NY-NJ-PA",193372.0,118247.0,98650.0
1,"San Jose-Sunnyvale-Santa Clara, CA",209928.0,137397.0,78730.0
2,"Seattle-Tacoma-Bellevue, WA",117323.0,131167.0,65760.0
3,"Washington-Arlington-Alexandria, DC-VA-MD-WV",101188.0,119806.0,63760.0
4,"San Francisco-Oakland-Hayward, CA",222034.0,142101.0,59550.0
...,...,...,...,...
64,"Eugene, OR",85912.0,84021.0,1220.0
65,"Wichita, KS",103690.0,92595.0,1220.0
66,"Fort Collins, CO",95969.0,98176.0,1190.0
67,"Lexington-Fayette, KY",105248.0,95986.0,1140.0
68,"Spokane-Spokane Valley, WA",90269.0,85575.0,1120.0

In [20]:
spark.sql(
"""
  select d.metro, sum(d.MeanSDSal_Adjus), avg(d.MeanSDSal_Unajust), max(d.Num_of_Sof_Dev_Jobs)
  from v_developers d
  GROUP BY metro, MeanSDSal_Adjus, MeanSDSal_Unajust, d.Num_of_Sof_Dev_Jobs
  order by Num_of_Sof_Dev_Jobs desc
"""
).toPandas()

,metro,sum(MeanSDSal_Adjus),avg(MeanSDSal_Unajust),max(Num_of_Sof_Dev_Jobs)
0,"New York-Newark-Jersey City, NY-NJ-PA",193372.0,118247.0,98650.0
1,"San Jose-Sunnyvale-Santa Clara, CA",209928.0,137397.0,78730.0
2,"Seattle-Tacoma-Bellevue, WA",117323.0,131167.0,65760.0
3,"Washington-Arlington-Alexandria, DC-VA-MD-WV",101188.0,119806.0,63760.0
4,"San Francisco-Oakland-Hayward, CA",222034.0,142101.0,59550.0
...,...,...,...,...
64,"Eugene, OR",85912.0,84021.0,1220.0
65,"Wichita, KS",103690.0,92595.0,1220.0
66,"Fort Collins, CO",95969.0,98176.0,1190.0
67,"Lexington-Fayette, KY",105248.0,95986.0,1140.0
68,"Spokane-Spokane Valley, WA",90269.0,85575.0,1120.0

In [21]:
spark.sql(
"""
  select d.metro, d.city, sum(d.MeanSDSal_Adjus), avg(d.MeanSDSal_Unajust), max(d.Num_of_Sof_Dev_Jobs)
  from v_developers d
  GROUP BY metro, city, MeanSDSal_Adjus, MeanSDSal_Unajust, d.Num_of_Sof_Dev_Jobs
  order by Num_of_Sof_Dev_Jobs desc
"""
).toPandas()

,metro,city,sum(MeanSDSal_Adjus),avg(MeanSDSal_Unajust),max(Num_of_Sof_Dev_Jobs)
0,"New York-Newark-Jersey City, NY-NJ-PA","New York, NY",96686.0,118247.0,98650.0
1,"New York-Newark-Jersey City, NY-NJ-PA","Jersey City, NJ",96686.0,118247.0,98650.0
2,"San Jose-Sunnyvale-Santa Clara, CA","San Jose, CA",104964.0,137397.0,78730.0
3,"San Jose-Sunnyvale-Santa Clara, CA","Santa Clara, CA",104964.0,137397.0,78730.0
4,"Seattle-Tacoma-Bellevue, WA","Seattle, WA",117323.0,131167.0,65760.0
...,...,...,...,...,...
72,"Eugene, OR","Eugene, OR",85912.0,84021.0,1220.0
73,"Wichita, KS","Wichita, KS",103690.0,92595.0,1220.0
74,"Fort Collins, CO","Fort Collins, CO",95969.0,98176.0,1190.0
75,"Lexington-Fayette, KY","Lexington, KY",105248.0,95986.0,1140.0
76,"Spokane-Spokane Valley, WA","Spokane, WA",90269.0,85575.0,1120.0

In [22]:
devs = spark.sql(
"""
  select d.metro, d.city, sum(d.MeanSDSal_Adjus), avg(d.MeanSDSal_Unajust), max(d.Num_of_Sof_Dev_Jobs)
  from v_developers d
  GROUP BY metro, city, MeanSDSal_Adjus, MeanSDSal_Unajust, d.Num_of_Sof_Dev_Jobs
  order by Num_of_Sof_Dev_Jobs desc
"""
)

In [23]:
devs.toPandas()

,metro,city,sum(MeanSDSal_Adjus),avg(MeanSDSal_Unajust),max(Num_of_Sof_Dev_Jobs)
0,"New York-Newark-Jersey City, NY-NJ-PA","New York, NY",96686.0,118247.0,98650.0
1,"New York-Newark-Jersey City, NY-NJ-PA","Jersey City, NJ",96686.0,118247.0,98650.0
2,"San Jose-Sunnyvale-Santa Clara, CA","San Jose, CA",104964.0,137397.0,78730.0
3,"San Jose-Sunnyvale-Santa Clara, CA","Santa Clara, CA",104964.0,137397.0,78730.0
4,"Seattle-Tacoma-Bellevue, WA","Seattle, WA",117323.0,131167.0,65760.0
...,...,...,...,...,...
72,"Eugene, OR","Eugene, OR",85912.0,84021.0,1220.0
73,"Wichita, KS","Wichita, KS",103690.0,92595.0,1220.0
74,"Fort Collins, CO","Fort Collins, CO",95969.0,98176.0,1190.0
75,"Lexington-Fayette, KY","Lexington, KY",105248.0,95986.0,1140.0
76,"Spokane-Spokane Valley, WA","Spokane, WA",90269.0,85575.0,1120.0

In [24]:
devs.coalesce(1).write.csv(
    "/content/drive/MyDrive/Colab Notebooks/Saidas/",
    sep=",",
    mode = "overwrite",
    header=True
)

In [25]:
devs.coalesce(1).write.orc(
    "/content/drive/MyDrive/Colab Notebooks/Saidas/",
    mode = "overwrite"
)